.footer {
  background-color: rgba(40, 40, 40, 0.8); /* شفاف با حالت تاریکی */
  backdrop-filter: blur(10px); /* ایجاد حالت شیشه‌ای */
  color: #f1f1f1;
  padding: 40px 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px; /* ایجاد فاصله بین فوتر و محتوا */
  border-top: 1px solid rgba(255, 255, 255, 0.2); /* خط بالایی برای جدا کردن فوتر */
}

.footer h4 {
  color: #f1f1f1;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #f1f1f1;
}

.footer .footer-column {
  margin-bottom: 30px;
  flex: 1;
  min-width: 200px;
}

/* Flexbox برای چیدمان */
.footer .footer-top,
.footer .footer-middle,
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
}

.footer .footer-top .footer-column ul,
.footer .footer-bottom .footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .social-icons a {
  margin-right: 15px;
  font-size: 1.8em;
  color: #ccc;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: #fff;
}

.footer .payment-icons img,
.footer .trust-icons img,
.footer .app-icons img {
  margin-right: 10px;
  max-width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.footer .payment-icons img:hover,
.footer .trust-icons img:hover,
.footer .app-icons img:hover {
  transform: scale(1.1);
}

.footer .footer-middle .footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .footer-bottom p {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2); /* خط نازک و شفاف در بالای فوتر */
  font-size: 0.9em;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer .footer-top,
  .footer .footer-middle,
  .footer .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer .footer-column {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer .social-icons a {
    font-size: 1.5em;
  }

  .footer .payment-icons img,
  .footer .trust-icons img,
  .footer .app-icons img {
    height: 35px;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footer h4 {
    font-size: 1.2em;
  }

  .footer .footer-bottom p {
    font-size: 0.8em;
  }

  .footer .social-icons a {
    font-size: 1.2em;
  }

  .footer .payment-icons img,
  .footer .trust-icons img,
  .footer .app-icons img {
    height: 30px;
    margin-bottom: 10px;
  }
}
